* {
	margin: 0;
	padding: 0;
}

#myVideo {
	position: absolute;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
}

.typing-text {
	overflow: hidden;
	border-right: .15em solid orange;
	font-size: 2em;
	width: 0;
	color: white;
	animation: typing-out 1s steps(20, end) forwards;
}

.typing{
	display: inline-block;
}

@keyframes typing-out {
	from { width: 0 }
	to { width: 100% }
  }