
html,
body {
    overflow-x: hidden;
}

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

.image-container {
    margin-top: 55px;
    overflow: hidden;
    min-width: 100%;
    height: 40vh;
}

.image-container>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    animation: zgrada_ulaz 0.8s;
}

.o_nama {
    text-align: center;
    margin: 35px 25%;
    border-bottom: 4px gold solid;
    animation: slide-in-bottom 1s;
}

.o_nama>h1 {
    font-size: 40px;
    font-weight: bold;
    margin: 20px;
}

.section-naslov {
    color: rgb(194, 27, 103);
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    margin-top: 80px;
    margin-bottom: 50px;
}

.paragraph {
    background-color: rgba(238, 233, 233, 0.5);
    padding: 50px 0px;
}

.paragraph>p {
    text-align: justify;
    color: rgb(88, 88, 88);
    font-weight: normal;
    font-size: 28px;
    font-family: Script MT, Brush Script Std, cursive;
    margin: 40px 21%;
    animation: fade-in 1.2s;
}


#povijest {
    opacity: 0;
}

#algebraGrupa {
    opacity: 0;
}

#kakoDoNas {
    opacity: 0;
}

.paragraph-grid {
    margin: 30px 0;
    width: 100%;
    padding: 10px 8%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.paragraph-grid>div {
    text-align: justify;
    border: 1px solid rgba(157, 157, 157, 0.645);
    margin: 10px;
    padding: 20px;
    border-radius: 7px;
}

.paragraph-grid>div>h5 {
    text-transform: uppercase;
    border-bottom: 1px solid rgba(176, 176, 176, 0.7);
    padding-bottom: 20px;
}

.paragraf-grid-partneri {
    margin: 30px 0;
    width: 100%;
    padding: 10px 15%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.paragraf-grid-partneri>div {
    text-align: justify;
    border: 1px solid rgba(157, 157, 157, 0.645);
    margin: 3px;
    padding: 20px;
    border-radius: 7px;
}

.paragraf-grid-partneri>div>h5 {
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(176, 176, 176, 0.7);
    padding-bottom: 20px;
}

.paragraf-grid-partneri>div>img {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: auto;
    height: 50px;
}

.doNas-grid {
    margin: 30px 0 0 0;
    width: 100%;
    padding: 10px 15%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.doNasBackground {
    background-image: url('../attachment/img/kakoDoNas.png');
    background-attachment: fixed;
}

.doNas-grid>div {
    color: black;
    border: 1px solid black;
    opacity: 1;
    background-color: white;
    margin: 50px 10px 10px 10px;
    padding: 15px;
    border-radius: 5px;
}

.doNas-grid>div>p {
    padding: 20px 50px;
    font-size: 16px;
}

.doNas-grid>div>h5 {
    font-size: 20px;
    font-weight: 700;
}

.gmap_canvas>#gmap_canvas {
    height: 399px;
    width: 100%;
    margin: 5px;
    border-radius: 10px;

}

.mapouter {
    padding: 0px 15%;
    margin: 0px 20px;
}

.end {
    flex-grow: 1;
    background-image: url('../attachment/img/zaiskri-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    display: flex;
}

.end>div {
    width: 100%;
    bottom: 0;
}

.end-text {
    text-shadow: 2px 2px 5px #000000;
    margin: 10px;
    color: white;
    font-weight: 700;
    font-size: 42px;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
}

@keyframes zgrada_ulaz {
    0% {
        transform: scaleY(0);
        transform-origin: 100% 0%;
        opacity: 1;
    }

    100% {
        transform: scaleY(1);
        transform-origin: 100% 0%;
        opacity: 1;
    }
}

@keyframes slide-in-bottom {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}